@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

$primary-color: #f3e4e1;
$main-font: 'PT Serif', serif;
$main-font-color: black;
$description-font-color: gray;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

.menu-container {
  position: relative;
  background-color: $primary-color;
  border-radius: 10px;
  max-width: 390px;
  max-height: 844px;
  overflow: scroll;
  overflow-x: hidden;

  .header {
    position: absolute;
    bottom: -45px;
    width: 100%;
    z-index: 0;
  }

  .footer {
    position: relative;
    width: 100%;
    bottom: -5px;
    margin-top: 60px;
    z-index: 1;
  }

  .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
  }
  
  .ham-menu {
    cursor: pointer;
    z-index: 1;
    margin-left: 20px;
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;
  }

  .ham-menu:hover {
    transform: scale(1.1);
  }
  
  .menu-title {
    font-family: $main-font;
    text-align: center;
    font-size: 42px;
    margin-top: 70px;
    margin-bottom: 40px;
    position: relative;
    z-index: 2;
  }
  
  .menu-list {
    list-style: none;
    z-index: 2;
  }
  
  
  .menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $main-font;
    background: $primary-color;
    padding: 15px;
  }
  
  
  .add-button {
    background: black;
    color: white;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 32px;
    margin-top: -30px;
    transition: transform 0.3s ease-in-out;
    z-index: 4;
  }

  .add-button:hover {
    transform: scale(1.1);
  }
  
  
  .menu-item-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    line-height: 0.2;
  }
  
  .menu-item-name {
    font-weight: bold;
    margin-left: 10px;
    font-size: 20px;
  }
  
  .menu-item-price {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
  }
  
  .menu-item-description {
    font-size: 12px;
    margin-top: 3px;
    margin-left: -10px;
    font-family: $main-font;
    color: $description-font-color;
  }

}
