@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

$bg-color: #2f2926;
$text-color: white;
$line-width: 35px;

@mixin center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  font-family: "PT Serif";
}
.close-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 1100;
  transition: transform 0.3s ease-in-out;
}
.close-icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.nav-container {
  background-color: $bg-color;
  color: $text-color;
  width: 375px;
  height: 667px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      cursor: pointer;
      position: relative;
      font-family: "PT Serif", serif !important;
      font-weight: 400;
      font-size: 30px;
      line-height: 35px;
      text-align: center;

      &::after {
        content: "";
        display: block;
        width: $line-width;
        height: 1px;
        background: rgba(255, 255, 255, 0.5);
        margin: 10px auto 0;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInAnimation 0.1s ease-out forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
