@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

$header-font: "PT Serif", serif;

.landing {
    width: 390px;
    height: 844px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    background-color: #38846D;
  
    .leaves {
      height: 840px;
      position: absolute;
      top: 0;
  
      &.left {
        left: 0;
      }
  
      &.right {
        right: 0;
      }
    }
  
    .logo {
      width: 70%;
      max-width: 200px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .discount {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 11px;
      color: white;
      font-family: $header-font;
      position: absolute;
      background-color: #295f4f;
      padding: 20px;
      border-radius: 20px;
    }
  }